
<div ng-controller="interactionCtrl">
	interactions html
	
	<a ui-sref="interactionsAdd" ui-sref-active="active">Ajouter une interaction</a>
    
    <table border="2">
        <tr>
        	<th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Actif?</th>
            
        </tr>
        
        <tr ng-repeat="client in listClients">
            <td>{{interaction.id}}</td>
            <td>{{interaction.title}}</td>
            <td>{{interaction.description}}</td>
            <td>{{interaction.active}}</td>
          
            <td>
                <a ui-sref="interactionsEdit({id: interaction.id})">Editer</a>
                <a ng-click="deleteinteraction(interaction.id)">Supprimer</a>
            </td>
        </tr>
    </table>
    
</div>
