<div class="interaction-form" ng-controller="interactionCtrl">
    
    <form novalidate id="add-interaction-form" name="interactionForm">
        <div>
            <label>Title :</label>
            <input ng-model="interaction.title" name="title" type="text" required ng-required="true" />
            <span ng-show="interactionForm.title.$invalid && !interactionForm.title.$pristine" class="help-block">You title is required.</span>
        </div>

        <div>
            <label>description :</label>
            <input ng-model="interaction.description" name="description" type="text" required ng-required="true" />
            <span ng-show="interactionForm.description.$invalid && !interactionForm.description.$pristine" class="help-block">You description is required.</span>
        </div>

		<!-- check the validation -->
        <div>
            <label>active :</label>
            <input ng-model="interaction.active" name="active" type="checkbox"  ng-required="false" />
            <span ng-show="interactionForm.active.$invalid && !interactionForm.active.$pristine" class="help-block">You status active is required.</span>
        </div>

        

        <button type="submit" ng-click="addInteraction()" class="btn btn-primary" ng-disabled="interactionForm.$invalid">Valider</button>
    </form>
    
</div>
