<div class="interaction-form" ng-controller="interactionCtrl">
    
    <form novalidate id="add-interation-form" name="interationForm">
        <div>
            <label>Nom :</label>
            <input ng-model="interation.title" name="title" type="text" required ng-required="true" />
            <span ng-show="interationForm.title.$invalid && !interationForm.title.$pristine" class="help-block">You title is required.</span>
        </div>

        <div>
            <label>description :</label>
            <input ng-model="interation.description" name="description" type="text" required ng-required="true" />
            <span ng-show="interationForm.description.$invalid && !interationForm.description.$pristine" class="help-block">You description is required.</span>
        </div>

        <div>
            <label>active :</label>
            <input ng-model="client.mail" name="mail" type="email" required ng-required="true" />
            <span ng-show="clientForm.email.$invalid && !clientForm.email.$pristine" class="help-block">You name is required.</span>
        </div>

        <div>
            <label>Téléphone :</label>
            <input ng-model="client.phone" name="phone" type="text"/>
        </div>

        <button type="submit" ng-click="addClient()" class="btn btn-primary" ng-disabled="clientForm.$invalid">Valider</button>
    </form>
    
</div>
